<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @admin.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @admin.name %>
</p>


<%= link_to 'Edit', edit_admin_registration_path(@admin) %>

<p>
  <%= link_to "Create realtors", new_realtor_registration_path %>
</p>
<p>
  <%= link_to "Create hunters", new_hunter_registration_path %>
</p>
<p>
  <%= link_to "Create real estate company", new_real_estate_company_path %>
</p>

<p>
  <%= link_to "Create houses", new_house_path %>
</p>

<p>
  <%= link_to "Show all realtors", realtors_url %>
</p>

<p>
  <%= link_to "Show all house hunters", hunters_url %>
</p>


<p>
  <%= link_to "Show all real estate companies", real_estate_companies_url %>
</p>

<p>
  <%= link_to "Show all houses", houses_url %>
</p>



<p>
  <%= link_to "Show all inquiries", inquiries_url %>
</p>
