<%= form_tag({controller: :houses, action: "add_interest"}, method: "get") do %>
<p id="notice"><%= notice %></p>

<h1>Houses</h1>

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>Company</th>
    <th>Location</th>
    <th>Square footage</th>
    <th>Year</th>
    <th>Style</th>
    <th>Price</th>
    <th>Floors</th>
    <th>Basement</th>
    <th>Current owner</th>
    <th>Realtor</th>
    <th>Interested?</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @houses.each do |house| %>
    <tr>
      <td><%= house.id %></td>
      <td><%= house.real_estate_company_id %></td>
      <td><%= house.location %></td>
      <td><%= house.square_footage %></td>
      <td><%= house.year %></td>
      <td><%= house.style %></td>
      <td><%= house.price %></td>
      <td><%= house.floors %></td>
      <td><%= house.basement %></td>
      <td><%= house.current_owner %></td>
      <td><%= house.realtor_id %></td>

      <% if realtor_signed_in? %>

        <% if house.realtor_id == current_realtor.id %>
          <td><%= link_to 'Edit', edit_house_path(house), data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Destroy', house, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end%>

        <% if house.real_estate_company_id == current_realtor.real_estate_company_id %>
          <td><%= link_to 'Upload picture', houses_path  %></td>
          <td><%= link_to 'View potential buyers', potential_hunters_house_path(house) %></td>
        <%end %>

      <%end %>
      <% if hunter_signed_in? %>
        <% if not house.hunter_ids.split(" ").include? "#{current_hunter.id}" %>
  <td>
    Add to your interest <%= check_box_tag "interest[]", "#{house.id}"   %>
  </td>
          <% else %>
          <td>
            Remove from your interest <td> <%= check_box_tag "interest[]", "#{house.id}" %>
          </td>
        <% end %>

        <% end %>

      <% end  %>

   </tr>



  </tbody>
</table>
<br>

<% if hunter_signed_in? %>
    <%= submit_tag("Update interest") %>
      <% end  %>
      <% end %>

