<p id="notice"><%= notice %></p>

<h1>Hunters</h1>

<table>
  <thead>
  <tr>
    <th>Email</th>
    <th>Full name</th>
    <th>Phone</th>
    <th>Contact method</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @hunters.each do |hunter| %>
    <tr>
      <td><%= hunter.email %></td>
      <td><%= hunter.full_name %></td>
      <td><%= hunter.phone %></td>
      <td><%= hunter.contact_method %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Back', houses_url %>


