<%= form_with(model: hunter, local: true) do |form| %>
  <% if hunter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hunter.errors.count, "error") %> prohibited this hunter from being saved:</h2>

      <ul>
      <% hunter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>

  <div class="field">
    <%= form.label :full_name %>
    <%= form.text_field :full_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :contact_method %>
    <%= form.text_field :contact_method %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
