<p id="notice"><%= notice %></p>

<h1>Hunters</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Password</th>
      <th>Full name</th>
      <th>Phone</th>
      <th>Contact method</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hunters.each do |hunter| %>
      <tr>
        <td><%= hunter.email %></td>
        <td><%= hunter.password %></td>
        <td><%= hunter.full_name %></td>
        <td><%= hunter.phone %></td>
        <td><%= hunter.contact_method %></td>
        <td><%= link_to 'Show', hunter %></td>
        <% if hunter == current_hunter or admin_signed_in? %>
        <td><%= link_to 'Edit', edit_hunter_registration_path(hunter) %></td>
        <td><%= link_to 'Destroy', hunter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

