<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @hunter.email %>
</p>

<p>
  <strong>Password:</strong>
  <%= @hunter.password %>
</p>

<p>
  <strong>Full name:</strong>
  <%= @hunter.full_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @hunter.phone %>
</p>

<p>
  <strong>Contact method:</strong>
  <%= @hunter.contact_method %>
</p>
<% if hunter_signed_in? %>
  <% if @hunter.id == current_hunter.id %>
  <%= link_to 'Search houses', search_houses_path %>
    <%= link_to 'Edit', edit_hunter_registration_path(@hunter) %> |
    <%= link_to 'Submit enquiry', new_inquiry_path %>
    <% end %>
  <% end %>
<%= link_to 'Back', hunters_path %>
