<p id="notice"><%= notice %></p>

<h1>Realtors</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Name</th>
      <th>Real Estate Company</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @realtors.each do |realtor| %>
      <tr>
        <td><%= realtor.email %></td>
        <td><%= realtor.name %></td>
        <td><%= realtor.real_estate_company.name %></td>
        <td><%= realtor.phone %></td>
        <td><%= link_to 'Show', realtor %></td>
        <% if realtor == current_realtor %>
        <td><%= link_to 'Edit', edit_realtor_registration_path(realtor) %></td>
        <td><%= link_to 'Destroy', realtor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <% end %>
        <% if admin_signed_in? %>
          <td><%= link_to 'Edit', edit_realtor_path(realtor) %></td>
          <td><%= link_to 'Destroy', realtor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


