<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @realtor.email %>
</p>

<p>
  <strong>Name:</strong>
  <%= @realtor.name %>
</p>

<p>
  <strong>Password:</strong>
  <%= @realtor.password %>
</p>

<p>
  <strong>Company:</strong>
  <%= @realtor.real_estate_company.id %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @realtor.phone %>
</p>

<% if @realtor == current_realtor %>
<%= link_to 'Edit', edit_realtor_path(@realtor) %> <br>
  <%= link_to 'Your houses', realtor_houses_realtor_path(@realtor) %>|<br>
  <%= link_to "List a house", new_house_path%>
  <% end %>
<br>
<%= link_to "Show all houses", houses_url %>

<br>
<% if not realtor_signed_in? %>
  <%= link_to "Realtor Sign In", new_realtor_session_path %>
  <% end %>

<%= link_to 'Back', realtors_path %>
