<%= form_with(model: inquiry, local: true) do |form| %>

  <% if inquiry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inquiry.errors.count, "error") %> prohibited this inquiry from being saved:</h2>

      <ul>
      <% inquiry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if realtor_signed_in? %>
    <%= form.hidden_field :hunter_id, value: @inquiry.hunter_id %>
    <%= form.hidden_field :house_id, value: @inquiry.house_id %>
    <%= form.hidden_field :subject, value: @inquiry.subject %>
    <%= form.hidden_field :message, value: @inquiry.message %>
    <div class="field">
    <%= label_tag(:replies) %>
    <%= text_field_tag(:replies,"") %>
    </div>

    <% elsif hunter_signed_in? %>
    <%= form.hidden_field :hunter_id, value: current_hunter.id %>
    <%= form.hidden_field :house_id, value: @house_id %>
 <!--   <div class="field">
      <%#= form.label :house_id %>
      <%#= form.number_field :house_id %>
    </div>-->
    <div class="field">
      <%= form.label :subject %>
      <%= form.text_field :subject %>
    </div>

    <div class="field">
      <%= form.label :message %>
      <%= form.text_area :message %>
    </div>
    <%= form.hidden_field :replies, value: @inquiry.replies %>

    <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
