<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @inquiry.id %>
</p>

<p>
  <strong>Hunter:</strong>
  <%= @inquiry.hunter_id %>
</p>

<p>
  <strong>House:</strong>
  <%= @inquiry.house_id %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @inquiry.subject %>
</p>

<p>
  <strong>Message:</strong>
  <%= @inquiry.message %>
</p>

<p>
  <strong>Replies:</strong>
  <%= @inquiry.replies %>
</p>


<% if realtor_signed_in? %>
<%= link_to 'Reply', edit_inquiry_path(@inquiry) %> |
  <% else %>
  <%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
  <% end %>
<%= link_to 'Back', inquiries_path %>
