<!DOCTYPE html>
<html>
  <head>
    <title>Program2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= link_to "Realtor Sign Up", new_realtor_registration_path %>

  <% if realtor_signed_in? %>
  <%= link_to "Realtor Sign Out", destroy_realtor_session_path, methiod: :delete %>
    <% else %>
    <%= link_to "Realtor Sign In", new_realtor_session_path %>
    <% end %>

    <%= yield %>
  </body>
<br>
  <br>
  <br>
  <%= link_to "Go to admin page", admins_url %>
  <%= link_to "Show all real estate companies", real_estate_companies_url %>
  <%= link_to "Show all realtors", realtors_url %> <%= link_to "Show all house hunters", hunters_url %>
  <%= link_to "Show all houses", houses_url %> <%= link_to "Show all inquiries", inquiries_url %>

</html>
